@CHARSET "ISO-8859-1";

body {
	margin: 0;
	display: block;
	font-family: Ubuntu, Verdana, Courier, sans-serif;
	font-size: 0;
}

a {
	text-decoration: none;
}

#wrapper {
	width: 100%;
}

#content {
	max-width: 960px;
	min-width: 320px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#logoWrapper {
	display: block;
	width: 200px;
	height: 200px;
	margin: 50px auto;
}

#logo {
	width: 100%;
	height: 100%;
}

.separatorText {
	display: block;
	font-size: 20px;
	color: #5f5f5f;
	padding: 3px 0;
}

.separator {
	height: 1px;
	width: 100%;
	background: #a0a0a0;
}

#text {
	font-size: 16px;
	color: #4e4e4e;
	padding: 0 10px;
}