@charset "ISO-8859-1";

body {
    margin: 0;
    display: block;
    font-size: 0;
    font-family: Ubuntu, Verdana, Courier, sans-serif;
}

#content {
    width: 100%;
    height: 100%;
}

#logoWrapper {
    display: block;
    width: 200px;
    height: 200px;
    margin: 50px auto;
}

#logo {
    display: block;
    width: 200px;
    height: 200px;
}

.text {
    display: block;
    font-size: 18px;
    text-align: center;
    color: #4e4e4e;
    padding: 0 10px;
}

#error-message {
    margin: 0 auto;
    font-weight: bold;
}