@CHARSET "ISO-8859-1";

body {
	margin: 0;
	display: block;
	font-family: Ubuntu, Verdana, Courier, sans-serif;
	font-size: 0;
}

a {
	text-decoration: none;
}

#wrapper {
	width: 100%;
}

#content {
	max-width: 960px;
	min-width: 320px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#logoWrapper {
	display: block;
	width: 200px;
	height: 200px;
	margin: 50px auto;
}

#logo {
	width: 100%;
	height: 100%;
}

.separator {
	height: 1px;
	width: 100%;
	background: #a0a0a0;
}

.separatorText {
	display: block;
	font-size: 20px;
	color: #5f5f5f;
	padding: 3px 0;
}

.projectList {
	min-width: 320px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.project {
	height: 48px;
	margin: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 298px;
	display: inline-block;
	border: 0;
	text-align: left;
	font-size: 18px;
	-webkit-transition: background 0.2s linear; /* Saf3.2+, Chrome */
	-moz-transition: background 0.2s linear; /* FF3.7+ */
	-o-transition: background 0.2s linear; /* Opera 10.5 */
	transition: background 0.2s linear;
}

.project:hover {
	background: #e0e0e0;
}

.project:active {
	background: #909090;
}

.projectImage {
	margin-left: 10px;
	margin-right: 10px;
	width: 48px;
	height: 48px;
	vertical-align: middle;
}

.projectTitle {
	width: 248px;
	height: 48px;
	color: #000000;
}
